    .main {
        text-align: center;
    }
    
    .form {
        padding: 10px;
        border: 3px solid black;
        border-radius: 10px;
        text-align: left;
        font-size: large;
    }
    
    body {
        background-image: linear-gradient(to bottom, #1ebecd, #72cdc5, #a7dbc5, #d1e8d2, #f2f6ea);
    }
    
    .col-12 {
        text-align: center;
    }